@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #000 url('https://hamzeen.github.io/deprecated-landing/assets/bg_texture.png');
    font: normal 16px/1.5 'Titillium Web';
    color: #fff;
}

h3 {
    font: normal 62px/1.5 'Open Sans', 'Roboto', 'Open Sans Condensed', sans-serif;
    color: #fff;
    margin: 20px 0 15px 0;
    text-align: left;
    font-weight: 900;
}

p {
    font: 100 18px/1.5 'Titillium Web', Helvetica, Arial, sans-serif;
}
p.instructions {
    margin-bottom:20px;
}
#copyright {
    text-align: right;
}
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}
.app {
    width: 100%;
    position: relative;
    border: 10px solid #FFF;
}

.app #start-camera {
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448aff;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream {
    display: none;
    width: 100%;
}

.app img#snap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message {
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.app .controls a {
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app .controls a:hover {
    opacity: 1;
}

.app .controls a.disabled {
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover {
    opacity: 0.5;
}

.app .controls a i {
    font-size: 18px;
}

.app .controls #take-photo i {
    font-size: 32px;
}

.app canvas { display: none;}

.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible {
    display: block;
}

.app .controls.visible {
    display: flex;
}


/* vertical navigation */
a {
    color: #fff; text-decoration: none;
}
ol, ul, li {
    list-style: none;
}
.menu-item-link {
    position: relative;
    padding: 10px;
    font: normal 14px/17px "Titillium Web", "Roboto",sans-serif;
    font-weight:400;
    letter-spacing: 5px;
}
.main-menu {
    position: fixed;
    left: 9px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 85px;
    font-size: 0px;
    line-height: 0px;
    text-align: right;
    text-transform: uppercase;
    -webkit-transform: translate(-100%, 0%) rotate(-90deg);
    transform: translate(-100%, 0%) rotate(-90deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    z-index: 8;
    background: #1B242BBA;
    transition: all .2s ease-out;
}
.main-menu:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 17px;
    width: 60px;
    height: 2px;
    background-color: #b77932;
}
.menu-item {
    display: inline-block; margin-left: 15px;
}
.menu-item-link {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.menu-item-link:hover {
    opacity: 1;
}
.menu-item-link:after {
    content: '';
    position: absolute;
    left: 11px;
    bottom: 1px;
    width: 25px;
    height: 2px;
    -webkit-transform: translate(-50%, 0) scale(0, 1);
    transform: translate(-50%, 0) scale(0, 1);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: transform;
    background-color: #f00;
}

.menu-item-link:hover:after {
    -webkit-transform: translate(0%, 0) scale(1, 1);
    transform: translate(0%, 0) scale(1, 1);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}


@media (max-width: 1075px) {
    .container {
        margin: 40px;
    }

    .app #start-camera.visible {
        display: block;
    }

    .app .controls a i {
        font-size: 16px;
    }
    .app .controls #take-photo i {
        font-size: 24px;
    }
}

@media (max-width: 520px) {
    .container { margin: 40px 2px;}

    .app #error-message {
        padding: 80px 50px;
        font-size: 18px;
    }
    .app .controls a i {
        font-size: 12px;
    }
    .app .controls #take-photo i {
        font-size: 18px;
    }

    .main-menu {
        position: absolute;
        left: 9px;
        top: 2px;
        -webkit-transform: translate(0%, 0%) rotate(0deg);
        transform: translate(0%, 0%) rotate(0deg);
        -webkit-transform-origin: 0% 0;
        transform-origin: 0% 0;
    }
}
